.btn, .btn.action {
    background-color: white;
    border: 1px solid var(--primary);
    background: none;
    padding: 10px 40px;
    font-size: 14px;
    width: 22px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Inter';
    font-weight: 500;
}
.btn.action {
    color: white;
    background: var(--primary);
    text-align: center;
}
.btn-big {
    font-size: 1rem;
    text-align: center;
    padding: 10px 50px;
}
.maxwidth {
    width: 100% !important;
}
h1 {
    font-size: 2.5rem !important;
    font-weight: 600 !important;
	color: rgb(49, 49, 49) !important;
	line-height: 130% !important;
}
h2 {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
	color: rgb(49, 49, 49) !important;
	line-height: 130% !important;
}
h3 {
    font-size: 1.5rem !important;
	line-height: 130% !important;
}
p {
    color: gray;
    font-weight: 300;
}
a {
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    input[type=text], textarea, input[type=password] {
        padding: 10px 12px;
        border: 1px solid rgb(212, 212, 212);
        border-radius: 50px;
        margin: 5px;
    }
    textarea {
        border-radius: 20px;
        resize: none;
    }
    div {
        width: 100%;
        display: flex;
        div {
            display: flex;
            flex-direction: column;
        }
        input {
            padding: 10px 12px;
            border: 1px solid rgb(212, 212, 212);
            border-radius: 12px;
            margin: 5px;
        }
        button {
            margin-top: 20px;
            width: 50%;
        }
    }
    .form-buttons {
        justify-content: center;
        button {
            width: 30% !important;
            &:last-of-type {
                margin-left: 25px;
            }
        }
    }
    .food-form {
        flex-wrap: wrap;
        justify-content: center;
    }
}
table {
    width: 100%;
}

.card {
    position: relative;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
    h3 {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: white;
        font-weight: 400;
        font-size: 1.5rem;
    }
    img {
        position:relative;
        width: 100%;
        object-fit: contain;
        z-index:-1;
        display:block;
    }
}
.flex {
    display: flex;
    align-items: center;
}
footer {
    margin-top: 120px;
    padding-top: 80px;
    padding-bottom: 130px;
    background-color: #C73C3C;
    h1, h2, h3, li, span {
        color: white !important;
        line-height: 200%;
    }
    h1, h2, h3, span {
        padding: 20px 0;
    }
    img {
        width: 50px;
    }
    .logo {
        width: 150px;
    }
    .flex span {
        padding-left: 20px;
    }
    position: relative;
    .copyright {
        background-color: #982222;
        height: 50px;
        width: 100%;
        bottom: 0;
        position: absolute;
        color: white;
        font-style: normal;
        font-weight: 100;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn {
        width: 100%;
        color: black;
        border: 1px solid white;
        margin-top: 15px;
        background-color: white;
    }
}

.white {
    color: white;
}
.css-1z13ce1 {
    width: 400px;
    background: white;
    padding: 40px;
}
.css-79ws1d-MuiModal-root {
    display: flex;
    justify-content: center;
    align-items: center;
}