img {
    width: 100%;
}
.registration-form {
    padding: 40px 20px;
}

.button-form button {
    margin-top: 30px;
}

.MuiGrid-root .MuiGrid-container .MuiGrid-spacing-xs-10 {
    align-items: center;
}